<section id="setup-quiz" class="setup">
  <div class="container">
    <div class="row justify-content-between dialog-header">
      <div class="col-md-6 px-4 pt-4">
        <h2>Set up a new quiz</h2>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-end">
          <i class="fa-solid fa-check fs-1 fw-bold pointer py-3 px-4" (click)="onSubmit(setupForm)"></i>
          <i class="fa-solid fa-xmark fs-1 fw-bold pointer py-3 px-4" (click)="onNoClick()"></i>
        </div>

      </div>
    </div>
    <form [formGroup]="setupForm">
      <div class="p-5">
        <h2 class="fs-5 fw-normal">Details</h2>

        <div class="input-group input-group-lg">
          <span class="input-group-text header" id="inputGroup-sizing-lg">Title:</span>
          <input type="text" class="form-control" formControlName="title" aria-label="title" aria-describedby="title">
        </div>

        <div class="d-flex mt-3">
          <div class="input-group mb-3 me-2 select-group header">
            <label class="input-group-select p-3" for="inputGroupSelect01">Duration (in minutes)</label>
            <select class="form-select p-3 header" formControlName="duration" id="inputGroupSelect01">
              <option selected>30</option>
              <option value="1">60</option>
            </select>
          </div>
          <div class="input-group mb-3 mx-2 select-group header">
            <label class="input-group-select p-3 " for="inputGroupSelect01">No. of questions</label>
            <select class="form-select p-3 header" formControlName="questions_number" id="inputGroupSelect01">
              <option selected>1</option>
              <option value="1">2</option>
            </select>
          </div>
          <div class="input-group mb-3 ms-2 select-group header">
            <label class="input-group-select p-3 " for="inputGroupSelect01">Score per question</label>
            <select class="form-select p-3 header" formControlName="score_per_question" id="inputGroupSelect01">
              <option selected>5</option>
              <option value="1">10</option>
            </select>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-text header">Description:</span>
          <textarea class="form-control header" formControlName="description" rows="3"
            aria-label="With textarea"></textarea>
        </div>

        <div class="input-group input-group-lg my-3 w-75">
          <span class="input-group-text header" id="inputGroup-sizing-lg">Schedule</span>
          <input type="datetime-local" formControlName="schadule" id="birthdaytime" name="birthdaytime"
            class="form-control">
        </div>

        <div class="d-flex mt-3">
          <div class="input-group mb-3 me-2 select-group header">
            <label class="input-group-select p-3 " for="inputGroupSelect01">Difficulty level</label>
            <select class="form-select p-3 header" formControlName="difficulty" id="inputGroupSelect01">
              <option value="easy" selected>easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
            </select>
          </div>
          <div class="input-group mb-3 mx-2 select-group header">
            <label class="input-group-select p-3 " for="inputGroupSelect01">Category type</label>
            <select class="form-select p-3 header" formControlName="type" id="inputGroupSelect01">
              <option value="FE" selected>FE</option>
              <option value="BE">BE</option>
              <option value="DO">DO</option>
            </select>
          </div>
          <div class="input-group mb-3 ms-2 select-group header">
            <label class="input-group-select p-3 " for="inputGroupSelect01">Group name</label>
            <select class="form-select p-3 header" formControlName="group" id="inputGroupSelect01">
              <option *ngFor="let item of groups" [value]="item._id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>