<section id="quiz-details">
  <div class="container px-5 mt-4">
    <div class="row">
      <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/instructor">Instructor</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/instructor/quizzes">Quizzes</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Data structures quiz one
          </li>
        </ol>
      </nav>
      <div class="col-md-6 border rounded header ps-4 py-3">
        <div class="header">
          <h3 class="h2">Data Structures Quiz One</h3>
          <p class="mt-0 h6">
            <i class="fa-solid fa-calendar-days me-2"></i>12 / 03 / 2023
            <i class="fa-solid fa-clock ms-4 me-2"></i>09 : 00
          </p>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="info">
              <span class="name">Duration</span>
              <span class="value">10 minutes</span>
            </div>
            <div class="info">
              <span class="name">Number of questions</span>
              <span class="value">15</span>
            </div>
            <div class="info">
              <span class="name">Score per question</span>
              <span class="value">1</span>
            </div>
            <div class="description">
              <p class="name">Description</p>
              <p class="value">
                Lorem ipsum aset amet consectedur im nascsa assadqw assacsc
                aidwqdjv asdewfas qwdass Lorem ipsum aset amet consectedur im
                nascsa assadqw assacsc aidwqdjv
              </p>
            </div>
            <div class="info">
              <span class="name">Question bank used</span>
              <span class="value">Bank one</span>
            </div>
            <div class="fs-5 fw-medium mt-1 d-flex align-items-center">
              <i class="fa-solid fa-square-check fs-3 me-2 text-main"></i>
              <span> Randomize questions</span>
            </div>
            <div class="text-end mt-2">
              <button class="primary">
                <i class="fa-solid fa-pencil me-1"></i> Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
