<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <img src="../../../../../assets/images/Logo-white.png" class="w-25 text-white mt-5" alt="Logo">
                    <h2 class="mt-5">Create your account and start using QuizWiz!</h2>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="bg-img d-flex justify-content-center align-items-center">
                    <img src="../../../../../assets/images/Login_Image.png" class="w-75 h-75" alt="Login">
                </div>
            </div>
        </div>
    </div>
</section>
