<section id="quizze">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-white py-3 px-5 ms-5 quizze-item" (click)="openDialog('500ms', '500ms')">
                    <div class="mb-3">
                        <img src="../../../../../../../../assets/images/new-quiz-icon.svg" class="w-50">
                    </div>
                    <h2>Set up a new quiz</h2>
                </a>
                <a class="btn btn-white px-5 py-4 ms-5 quizze-item" routerLink="/quizwiz/instructor/questions">
                    <div class="mb-3">
                        <img src="../../../../../../../../assets/images/question-bank-icon.svg" class="w-50">
                    </div>
                    <h2>Question Bank</h2>
                </a>

            </div>

            <div class="col-md-6">
                <div class="quizze-item me-5">
                    <h2 class="m-3">Upcoming quizzes</h2>
                    <ng-container *ngFor="let quiz of quizzeList">
                        <div *ngIf="quiz.status == 'open'" class="d-flex quizze-item-box position-relative">
                            <div class="ms-3">
                                <div class="mt-3">
                                    <h2 class="mb-1">{{quiz.title}}</h2>
                                    <p>{{quiz.schadule | date: 'medium'}}</p>
                                </div>

                                <div class="mt-3">
                                    <h4>No. of student’s enrolled: 32</h4>
                                    <h4 class="pointer icon-end mx-2" routerLink="/quizwiz/instructor/quizzes/quizDetails">
                                        {{quiz.status}} <i class="fa-solid fa-circle-arrow-right text-iconColor"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="quizze-item me-5">
                    <div class="d-flex justify-content-between mb-3">
                        <h2>Completed Quizzes</h2>
                        <h4 class="pointer" routerLink="/quizwiz/instructor/results"> Results <i
                                class="fa-solid fa-arrow-right-long text-iconColor"></i> </h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="bg-main p-3 text-secondaryColor">
                            <th>Title</th>
                            <th>Group name</th>
                            <th>No. of persons in group</th>
                            <th>Date</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Assembly language</td>
                                <td>Group 1</td>
                                <td>23 persons</td>
                                <td>12 / 02 / 2023</td>
                            </tr>
                            <tr>
                                <td>C programming</td>
                                <td>Group 2</td>
                                <td>17 persons</td>
                                <td>12 / 02 / 2023</td>
                            </tr>
                            <tr>
                                <td>Python</td>
                                <td>Group 3</td>
                                <td>38 persons</td>
                                <td>12 / 02 / 2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>