<section id="quizze">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-white p-5 ms-3 me-4 quizze-item" routerLink="/dashboard/instructor/quizzes/setup">
                    <i class="fa-solid fa-user-tie fa-3x mt-2"></i>
                    <h2 lass="mt-2 text-center">Set up a new quiz</h2>
                </a>
                <a (click)="openDialog()" class="btn btn-white p-5 quizze-item">
                    <i class="fa-solid fa-user-plus fa-3x mt-2"></i>
                    <h2 class="mt-2 text-center">Question Bank</h2>
                </a>
            </div>

        </div>
    </div>
</section>