@import "/src/assets/styles/abstracts/_variables.scss";

#register {
  background-color: $bg-main;
  height: 100vh;
  a {
    &:hover {
      border: 5px solid $bg-third;
      .icon-auth {
        color: $bg-third;
      }
    }
  }

  button {
    &:hover {
      color: $bg-main;
    }
  }

  .bg-img {
    border-radius: 16px;
    width: 540px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eye-icon {
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: 100;
  }

  .pointer {
    cursor: pointer;
  }
}
