@import "/src/assets/styles/abstracts/_variables.scss";
// Quizze Home
#quizze {
  h2,
  h4 {
    font-weight: 600;
  }
  h2 {
    // font-size: 18px;
    line-height: 24.55px;
  }
  h4 {
    font-size: 14px;
    line-height: 19.1px;
  }
  .quizze-item {
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .quizze-item-box {
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
  }

  .img-quizze-bg {
    background: $secondary-color;
    border-radius: 20px;
    padding: 15px;
    // margin: 0;
  }

  th {
    font-weight: 400;
    text-wrap: nowrap;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(13, 19, 33, 1);
    color: #fff;
  }
  .dropdown-toggle::after {
    display: none;
  }

  tr {
    transition: all 0.1s ease;
  }
  tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 2;
    position: relative;
  }

  td {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
}
// Setup
#setup {
  border-radius: 20px;
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24.55px;
  }
  .setup-item {
    margin-left: 115px;
    margin-right: 15px;
  }
  // .setup-item{
  //   span{
  //     position: relative;
  //   }
  // }
  .setup-item::after {
    content: "";
    width: 1px;
    height: 100px;
    position: absolute;
    right: 30%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .setup-item::before {
    content: "";
    width: 1px;
    height: 100px;
    position: absolute;
    right: 15%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  //   form
  .form-control, .form-select {
    border: none;
    border-radius: none;
  }
  .header {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
  }

  .input-group-text {
    width: 15%;
  }
  .input-group{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    input,select,textarea {
      border-radius: 0 10px 10px 0 !important;
      border-left: none !important;
    }
    .input-group-text, .input-group-select,span {    
      background-color: $bg-secondary;
      border-radius: 10px !important;
      border-right: none !important;
    }
  }

//   .input-textarea {
//     background-color: $bg-secondary;
//     border: 2px solid rgba(0, 0, 0, 0.2);
//     width: 15%;
//     height: 100%;
//     padding: 20px;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 22;
//     border-radius: 20px;
//   }

}

//dashboard instructor
#dash-instruct {
  .image {
    width: 22%;
  }
}
//Quizzes
#quizze {
  .quizze-item {
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
    margin-top: 20px;
  }
}
#quiz-details {
  font-family: "Inter", sans-serif !important;
  nav {
    font-weight: 600;
    line-height: 19.36px;
    // font-family: 'Inter', sans-serif !important;
    font-size: 16px;
  }
  .header {
    h3 {
      font-weight: 700;
      font-size: 26px;
      line-height: 29.05px;
    }
    .info {
      font-weight: 500 !important;
      font-size: 18px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin: 10px 0px;
      .name {
        width: 60%;
        background: $secondary-color;
        border-radius: 10px;
        padding: 12px 15px;
      }
      .value {
        padding: 12px 20px;
      }
    }
    .description {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      .name {
        font-weight: 500 !important;
        font-size: 18px;
        padding: 12px 15px;
        width: 100%;
        background: $secondary-color;
        border-radius: 10px;
        display: block !important;
      }
      .value {
        padding: 5px 20px;
        font-size: 14px;
      }
    }
  }
}
#end{
  .code{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 0px 15px 0px 0px;
    font-size: 18px;
    font-weight: 500;
    .code-title{
      padding: 5px 15px;
      border-radius: 20px;
      width: 40%;
    }
  }
}
