@import "/src/assets/styles/abstracts/_variables.scss";

#navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
  .col-md-8 {
    position: relative;
  }
  .info::before {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
  }

  .new-quiz {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
}

@media (max-width: 1000px) {
  #navbar {
    padding: 5px 5px !important;
    transition: all 0.1s ease !important;
    .new-quiz {
      .text-nowrap {
        display: none;
      }
    }
  }
}
@media (max-width: 760px) {
  #navbar {
    padding: 20px 5px !important;
  }
}
