@import "/src/assets/styles/abstracts/_variables.scss";

.pointer {
    cursor: pointer;
}
//buttons
button{
    transition: all 0.2s ease-in;
    padding: 6px 25px;
    font-size: 16px;
    &.primary{
        color: #fff;
        background: $main-color;
        border-radius: 10px;
    }
    &.primary:hover{
        color: $main-color;
        background: #fff;
        border: 3px solid $main-color;
    }
    &.third{
        color: $main-color;
        background: $third-color;
        border-radius: 20px;
        border: none !important;
    }
    &.third:hover{
        opacity: .8;
    }
}
.new-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
}
//tables
th {
    font-weight: 400;
    text-wrap: nowrap;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(13, 19, 33, 1);
    color: #fff;
  }
  tr {
    transition: all 0.1s ease;
  }
  tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 2;
    position: relative;
  }

  td {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }