$main-color: #0D1321;
$secondary-color: #FFEDDF;
$third-color: #C5D86D;

$bg-main: $main-color;
$bg-secondary: $secondary-color;
$bg-third: $third-color;

$text-main: $main-color;
$text-secondary: $secondary-color;
$text-third: $third-color;
