$main-color: #0d1321;
$secondary-color: #ffeddf;
$third-color: #c5d86d;
$btn-color: #333333;
$btn-whiteColor: #F5F5F5;

$bg-main: $main-color;
$bg-secondary: $secondary-color;
$bg-third: $third-color;

$text-main: $main-color;
$text-secondary: $secondary-color;
$text-third: $third-color;
$btnColor: $btn-color;
$btnWhiteColor: $btn-whiteColor;

.bg-main {
  background-color: $bg-main;
}
.bg-secondaryColor {
  background-color: $bg-secondary;
}
.bg-third {
  background-color: $bg-third;
}

.text-main {
  color: $text-main;
}
.text-secondaryColor {
  color: $text-secondary;
}
.text-third {
  color: $text-third;
}

.btn-color{
    background-color: $btnColor;
}

.btn-whiteColor{
    background-color: $btnWhiteColor;
}


