<section id="join-quiz" class="setup">
  <div class="container text-center pt-5">
    <h2>Join Quiz</h2>
    <div class="px-5 py-4">
      <p>Input the code received for the quiz below to join</p>
      <div class="input-group input-group-lg mb-3 d-flex flex-nowrap">
        <span class="input-group-text header" id="inputGroup-sizing-lg"
          >Code</span
        >
        <input
          [(ngModel)]="code"
          type="text"
          class="form-control"
          aria-label="code"
          aria-describedby="code"
        />
      </div>
    </div>
    <div class="row dialog-header justify-content-center">
      <div class="col-md-3 icons">
        <div class="d-flex justify-content-center" >
          <i (click)="joinQuiz(code)"
          class="fa-solid fa-check fs-1 fw-bold pointer py-3 px-4"></i>
          <i
            class="fa-solid fa-xmark fs-1 fw-bold pointer py-3 px-4 second"
            (click)="onNoClick()"
          ></i>
        </div>
      </div>
    </div>
  </div>
</section>
